<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Профиль - Обо Мне!</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">Виктор Шевченко</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Имя</label>
                <span class="value">Виктор Шевченко</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Дата рожд.</label>
                <span class="value">Mарт 18, 1976</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Адрес</label>
                <span class="value">Харьков</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">dobryi.gnom777@mail.ru</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Телефон</label>
                <span class="value"> +38 096 77-22-777</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Сайт</label>
                <span class="value"><a href="#" target="_blank">sc.chinaz.com</a></span>
                <div class="clear"></div>
            </li>

        </ul>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            Борьба с коррупцией - одна из главных задач в моей жизни. Выявляю коррупцию в системе органов государственной власти: гос. предприятия, органы МВД, СБУ, ГИС, НАБУ, Прокуратуре, Таможне и в других гос. структурах. Оказываю помощь правоохранительным  органам. 
        </p>
        
         <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            Уже более трех лет, я выявляю коррупцию в Харьковской области, естественно многим из них моя работа стоит поперек горла и мешает заниматься беспределом и воровать государственные деньги! 

        </p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_1.jpg" alt="" />
            <img src="images/img-profile/about_2.png" alt="" />
            <img src="images/img-profile/about_3.png" alt="" />
        </div>

    </div>

</div>


<!-- begin service -->
<!-- <div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">My Services 1</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-tag"></i></div>
                <div class="service-detail">
                    <h6>Making Money</h6>
                    <p>Fusce quis interdum ipsum.Suspendi suscipit vehicula sapienid mattis. Lorem ipsum amet consectetur.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-cogs"></i></div>
                <div class="service-detail">
                    <h6>Easy to Customize</h6>
                    <p>Fusce quis interdum ipsum.Suspendi suscipit vehicula sapienid mattis. Lorem ipsum amet consectetur.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-arrows-alt"></i></div>
                <div class="service-detail">
                    <h6>Moving Let Us Help</h6>
                    <p>Fusce quis interdum ipsum.Suspendi suscipit vehicula sapienid mattis. Lorem ipsum amet consectetur.</p>
                </div>
            </div>
        </div>
     </div> 
</div>End Services -->



<!-- service 2 -->
<div class="clear"></div>
<div class="border-list"></div>

<div class="row">
<div class="col-md-12">
    <div class="bottom-p">
        <div class="title_content">
            <div class="text_content">Внимание</div>
            <div class="clear"></div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapse_tabs">
                            Гражданам
                            <i class="glyphicon glyphicon-chevron-up" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  Я хочу обратиться к жителям нашей страны и попросить их проявлять более активную позицию, смело обращаться ко мне с сообщениями об известных коррупционных фактах в деятельности органов государственной власти, органов местного самоуправления, правоохранительных структур, контролирующих органов, чиновников иных ведомств. Ко мне лично на прием можно обратиться каждый. Звоните, либо можно прислать обращение через интернет-приемную на сайте.
                       
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">
                            Правоохранительным структурам
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  Уже более трех лет, я выявляю коррупцию в Харьковской области, оказываю помощь правоохранительным  органам. ОБРАЩАЙТЕСЬ - ВМЕСТЕ МЫ ПОБЕДИМ КОРРУПЦИИЮ!!!
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapse_tabs">
                            Коррупционерам
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  Если ты - Коррупционер, знай Добрый Гном - идет за тобой! Ты следующий!
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!-- end service 2 -->

<div class="clear"></div>
</div>
<!-- End .profile -->